
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<p>
    <a href="{% url "movies:new" %}">Agregar curso</a>
</p>

<div>
  <ul>
    {% for movie in object_list %}
        <li>
          <img src="{{ movie.image.url }}" width="240px" />
          <h2>{{movie.name}}</h3>
          <h3>Release Date: {{movie.release_date}}</h2>
          <h3>{{movie.classification}}</h4>
          <p>
              <a href="{% url "movies:detail" movie.id %}">Ver</a> | 
              <a href="{% url "movies:edit" movie.id %}">Editar</a> | 
              <a href="{% url "movies:delete" movie.id %}">Borrar</a> 
          </p>  
        </li>
    {% endfor %}
  </ul>
</div>    
<ul>
    {% for movie in object_list %}
        <li>
            
            
        </li>
    {% endfor %}
</ul>