
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />
</head>

<details class='sumario'>
 <summary>Content</summary>
  <nav>
    <ol>
      <li><a href="#Name">Name</a></li>
      <li><a href="#Photo">Photo</a></li>
      <li><a href="#Year_of_Release">Year of Release</a></li>
      <li><a href="#Classification">Classification</a></li>
      <li><a href="#Release_Date">Release Date</a></li>
      <li><a href="#Genre">Genre</a></li>
      <li><a href="#Duration">Duration</a></li>
      <li><a href="#Return">Return</a>
    </ol>
  </nav>
</details>

<article>
<h2 id="Name">Name</h2>
<p>{{ movie.name}}</p>

<h2 id="Photo">Photo</h2>
<p>
	<img src="{{ movie.image.url }}" width="240px" />

</p>

<h2 id="Year_of_Release">Year of Release</h2>
<p>{{ movie.year_of_release}}</p>

<h2 id="Classification">Classification</h2>
<p>{{ movie.classification}}</p>

<h2 id="Release_Date">Release Date</h2>
<p> {{ movie.release_date}}</p>

<h2 id="Genre">Genre</h2>
<p>{{ movie.genre}}</p>

<h2 id="Duration">Duration</h2>
<p>{{ movie.duration}} min</p>

<h2 id="Return"> Return</h2>
<p>
    <a href="{% url "movies:list" %}">Return</a>
</p>
</article>
