* {margin:0;padding:0;border:0 none; position: relative;} *,*:before,*:after {box-sizing:inherit;}
html {
	box-sizing: border-box;
	--sinSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
--conSerif: Georgia, Garamond,  Cambria,"Times New Roman",serif;
--monosP: 'Courier New', 'PT Mono', 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
	--fn: #9cb8b3;
	--cl: #efedce;
	--ot: #707e9d;
}
html {
	font-family: var(--sinSerif);
	font-weight: 300;
}
/**
The Grid Layout and
scroll control (scroll-behavior)
**/
body {
	display: grid;
	grid-template-columns: 275px 1fr;
	grid-template-areas:
		"header  header"
		"sumario content";
	height: 100vh;
	overflow: hidden;
	background: #225;
	color: white;
}
header {
	grid-area: header;
	height: 10vh;
	display: flex;
	background: #fc780d;
	font-size: 2.5vw;
}
.sumario {
	grid-area: sumario;
	display: flex;
	flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 90vh;
	max-height: 2em;
	padding-left: 1.5rem;
	color: #fff;
  transition: 2.5s;
}
.sumario[open] {
	max-height: 90vh;
  overflow-x: hidden;
  overflow-y: visible;
}
article {
	grid-area: content;
  scroll-behavior: smooth;
	height: 90vh;
	overflow-x: hidden;
	overflow-y: auto;
	background: black;
	padding: 0 1rem 1rem .5rem;
}
/**
estéticos
**/
h1 {
	margin: auto;
	font-weight: 400;
	font-size: inherit;
	font-min-size: 1rem;
	font-max-size: 30px;
}
h2 {
	font-family: var(--conSerif);
	font-weight: 400;
	color: #f5f5f5;
}
h2 ~ h2 {
	margin-top: 1.5rem;
}
h3 {
	font-weight: 400;
	margin-top: .5rem;
	padding-left: 1rem;
}
p {
	padding-left: 1rem;
	transition: .5s .3s;
}
p:last-of-type {
	margin-bottom: 5rem;
}
summary {
  outline: none;
	cursor: pointer;
}
.sumario > summary {
	font-size: 130%;
	font-variant: small-caps;
	margin-left: -.5rem;
}
.sumario > summary::after {
	content: '☰';
	display: inline-block;
	padding-left: 1rem;
	text-decoration: none;
}
.sumario[open] > summary::after {
	content: '\00D7';
	display: none;
}
nav {
  padding: 0 0 2rem .5rem;
	transition: 1s;
}

ol {
 counter-reset: numerar;
 list-style-type: none;
 line-height: 1.5;
}
ol ol {padding-left: 1.5rem}
li::before {
  content: counters(numerar, '.') "";
  counter-increment: numerar;
	position: absolute;
	left: -2.5rem;
	width: 2rem;
	text-align: right;
}
a {
  text-decoration: none;
  color: yellow;
}
a:hover,
summary:hover {
	text-decoration: underline;
}
article :active,
article :focus,
article :target,
article :active + p,
article :focus + p,
article :target + p {
	background: rgba(255,255,255,.35);
	box-shadow: 0 0 2px rgba(0,0,0,.2);
}
article :active + p,
article :focus + p,
article :target + p {
	font-size: 110%;
	font-weight: 400;
}

@media screen and (max-width: 600px) {
	body {	
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"content";
		overflow-y: auto;
	}
	article {	
		height: auto;
		overflow: visible;
	}
	header {
		height: auto;
		padding: 1rem;
		font-size: 5vw;
	}
	.sumario {display: none;}
}



